@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;1,100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
body {
  margin: 0;
  padding: 0;
  background-color: antiquewhite;
  color: #3a3846;
  font-size: 20px;
}

header {
  height: 20px;
  font-family: "Quicksand", sans-serif;

}

h1 {
  font-family: 'Quicksand', sans-serif;
  font-size: 4rem;
  display: inline;
}

o {
  font-family: 'Montserrat', sans-serif;
}

img {
  max-width: 500px;
  float: left;
  padding: 2rem;
}

nav li{
  display: inline-block;
  padding: 2px;

}
.top{
  position: sticky;
  background-color:  #639a88 ;
}


h1{
  font-family: "Quicksand",sans-serif;

}
a:hover {
  color :#BB8998;
  text-decoration: underline;
}
section{
  font-family: "Montserrat",sans-serif;
}
  
section::first-line{
  color: #3a3846;
  
}
a{
  color:#3A5683

}
a:visited{
  color:#BB8998
}

